/*-------------------------------------------- FUENTES ---------------------------------------------*/
@font-face {
    font-family: 'Bebasneue';
    src: url('../fuentes/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fuentes/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------- BODY ------------------------------------------------*/
body {
    font-family: 'Bebasneue', sans-serif;
}

/*-------------------------------------------- PRUEBAS ---------------------------------------------*/
.container2 {
    border: 1px solid black;
}

.color_icon_1 {
    /*font-size: 2em;*/
    background: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.color_icon_2 {
    /*font-size: 2em;*/
    background: linear-gradient(to right, rgb(0, 255, 149), blue);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

